	  .mtwFormSupLeft{
	  	 background: url(mtwFormSupLeft.gif) no-repeat; 		
		 height:29px;
		 width: 14px;		  		 
	  } 
	  .mtwFormSupCenter{
	  	 background: url(mtwFormSupCenter.gif) repeat;
		 background-position: center;
		 height: 29px;
		 font-family: Arial, Helvetica, sans-serif;
		 font-size: 13px;
		 font-weight: bold;
		 color: White;				
		 text-align: left;		
	  }  
	  .mtwFormSupRight{
	  	 background: url(mtwFormSupRight.gif) no-repeat;
		 height: 29px;
		 width: 70px;
		 text-align: right;		
	  } 
	  .mtwFormButtonClose{
	  	 background: url(mtwFormButtonClose.gif) no-repeat;
		 border: 0px;
		 height: 21px;
		 width: 21px;
		 cursor:pointer;		 
	  }
	  .mtwFormBorderLeft{
	  	 background-color: #ECE9D8;
		 border-left:4px solid #8BA169;		 		 
		 border-bottom:3px solid #8BA169;		 		 
	  }
	  .mtwFormBody{
	  	 background-color: #ECE9D8;
		 border-bottom:3px solid #8BA169;
		 text-align: left;
		 width:100%;
		 padding-bottom: 5px;
	  }
	  .mtwFormBorderRight{
	  	 background-color: #ECE9D8;
		 border-right:3px solid #8BA169;
		 border-bottom:3px solid #8BA169;		 		 
	  }
	  .mtwLabel{
	  	 font-family: Arial,Verdana;
	    font-size: 12px;
		 color: Black;
	  }  
	  .mtwInputText{
	  	 border:1px solid #A4B97F;
	    font-family: Arial,Verdana;
	    font-size: 12px;
	    height: 20px;
	  }
	  .mtwButton{
	  	 border: 1px solid #376206;
	     background: url(mtwButton.gif) repeat;
	     font-family: Arial,Verdana;
     	 font-size: 12px;
	     height: 25px;	    
	  }
	  .mtwFieldset{
       border: 1px solid #919B9C;		  
	  }

    .mtwLegend{
       background: url(mtwLegend.gif) repeat;
	   padding: 0.2em 0.5em;
       border:1px solid #919B9C;
       font-family: Arial,Verdana;
       font-weight: bold;
	   font-size: 12px;
	   color:Black;
	   height: 15px;
    }